.booking {
  background-color: #ffffff;
  border: 1px solid black;
}

.booking__title {
  font-family: @font-sans;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.booking__text{
  font-family: @font-sans;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}
