// палитра
@color-white: #ffffff;
@color-black: #000000;
@color-gray: #333333;
@color-blue: #81b3d2;
@color-grayish: #fefefe;
@color-darkgray: #eeeeee;

@color-main: @color-gray;
@color-secondary: @color-black;
@color-thirdy: @color-white;
@color-fourth: @color-blue;
@color-fifth: @color-grayish;
@color-sixth: @color-darkgray;
