.features {
  background-color: @color-thirdy;
  border: 1px solid black;
}

.features__list {}

.features__item {
  background-color: @color-thirdy;
}

.feature__title {
  color: @color-secondary;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.feature__text {

}
