.field-radio {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid @color-eighteen;
  // border: 1px solid red;
}

.field-radio__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 18px;
  color: @color-secondary;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.field-radio__text {
  color: @color-secondary;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  margin-left: 20px;
}

.field-radio__items {
  display: flex;
  flex-direction: column;
}

.field-radio__item {
  margin-bottom: 12px
}

.field-radio__input {
  display: none;
}

.field-radio__custom {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: @color-seventh;
}

.field-radio__custom:hover {
  background-color: @color-eighteen;
}

.field-radio__custom:active {
  background-color: @color-twenty;
}

.field-radio__input:checked + .field-radio__custom::before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  transform: translateY(-50%);
  left: 17px;
  background-color: @color-main;
  border-radius: 50%;
}

.field-radio__input:checked + .field-radio__custom:active::before {
  background-color: @color-twentyone;
}

@media @tablet-widths {
  .field-radio {
    order: -1;
    width: 325px;
    padding: 0;
    margin: 0;
    // padding-top: 30px;
    border: none;
    border-right: 1px solid @color-eighteen;
  }

  .field-radio__title {
    width: auto;
    margin-bottom: 55px;
    font-size: 21px;
    text-align: left;
  }

  .field-radio__item {
    margin-bottom: 20px
  }

  .field-radio__item:last-child {
    margin-bottom: 0;
  }
}

@media @desktop-widths {
  .field-radio {
    width: 480px;
  }
}
