.field-textarea {
  background-color: #ffffff;
  border: 1px solid black;
}

.field-textarea__title {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.field-textarea__input {
  font-family: @font-family-main;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.field-textarea__items {
  min-height: 273px;
}

@media @tablet-widths {
  .field-textarea {
    width: 649px;
  }
}

@media @desktop-widths {
  .field-textarea {
    width: 960px;
  }
}
