.main-nav {
  border: 1px solid black;

  &--open {
  }
}

.main-nav__toggler {}

.main-nav__wrapper {
  background-color: @color-thirdy;
  border: 1px solid black;
}

.main-nav__list {}

.main-nav__item {}

.main-nav__link {
  background-color: @color-fourth;
  color: @color-thirdy;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
