.main-nav {
  border: 1px solid black;

  &--open {
  }
}

.main-nav__toggler {}

.main-nav__wrapper {
  background-color: #ffffff;
  border: 1px solid black;
}

.main-nav__list {}

.main-nav__item {}

.main-nav__link {
  background-color: #81b3d2;
  font-family: @font-sans;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
