.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -89px;
  background-color: transparent;
}

.page-header__image {
  width: 102px;
  height: 83px;
}

@media @tablet-widths {
  .page-header {
    flex-wrap: nowrap;
  }

  .page-header__logo {
    bottom: -32px;
  }
}

@media @desktop-widths {
  .page-header {
  }

  .page-header__logo {
    background-color: @color-fourth;
  }
}
