.page-footer {
  background-color: @color-fifth;
  padding-top: 37px;
  padding-bottom: 23px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page-footer__hashtag {
  color: @color-secondary;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 35px;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  width: 151px;
  background-color: @color-fifth;
  margin-bottom: 40px;
}

.page-footer__copyright {
  border: 1px solid red;
  display: flex;
  background-color: @color-fifth;
  margin: 0;
  padding: 0;
}

.page-footer__copyright svg {
  width: 27px;
  height: 34px;
  border: 1px solid green;
}

.page-footer__copyright-link {
  color: @color-secondary;
  line-height: 26px;
}

@media @tablet-widths {
  .page-footer {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__hashtag {
    width: 256px;
    text-align: center;
    margin: 0;
  }

  .page-footer__social {
    width: 164px;
    padding-left: 46px;
    padding-right: 46px;
    margin: 0;
  }

  .page-footer__copyright {
    width: 256px;
    margin: 0;
    padding: 0;
    background-position: 160px 0;
  }

  .page-footer__copyright-link {
    display: block;
    text-align: right;
    padding-right: 94px;
  }
}

@media @desktop-widths {
  .page-footer {
  }

  .page-footer__hashtag {
    width: 400px;
  }

  .page-footer__social {
    width: 164px;
    padding-left: 118px;
    padding-right: 118px;
    margin: 0;
  }

  .page-footer__copyright {
    width: 357px;
    background-image: none;
    padding-right: 43px;
  }

  .page-footer__copyright-link {
    padding-right: 40px;
  }
}
