.page-footer {
  background-color: @color-fifth;
  padding-top: 37px;
  padding-bottom: 23px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 154px;
  margin: 0 auto;
}

.page-footer__hashtag {
  color: @color-secondary;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 35px;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  width: 151px;
  background-color: @color-fifth;
  margin-bottom: 40px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  background-color: @color-fifth;
  margin: 0;
  padding: 0;
}

.page-footer__copyright:hover.page-footer__copyright svg {
  fill: @color-fourth;
}

.page-footer__copyright:active.page-footer__copyright svg {
  fill: @color-twentythree;
}

.page-footer__copyright-text {
  color: @color-secondary;
  line-height: 26px;
}

@media @tablet-widths {
  .page-footer {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 650px;
  }

  .page-footer__hashtag {
    margin: 0;
  }

  .page-footer__social {
    width: 164px;
    padding-left: 46px;
    padding-right: 46px;
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
    padding: 0;
  }
}

@media @desktop-widths {
  .page-footer__wrapper {
    width: 1025px;
  }

  .page-footer__social {
    width: 164px;
    padding-left: 118px;
    padding-right: 118px;
    margin: 0;
  }
}
