.page-heading {
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid black;
}

.page-heading__title {
  font-family: @font-sans;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.page-heading__text {
  font-family: @font-sans;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
