.page-footer {
  background-color: @color-fifth;
  border: 1px solid black;
}

.page-footer__hashtag {
  color: @color-secondary;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}

.page-footer__social {
  background-color: @color-fifth;
}

.page-footer__copyright {
  background-color: @color-fifth;
}

.page-footer__copyright-link {
  color: @color-secondary;
  line-height: 26px;
}
