.photo {
  background-color: @color-thirdy;
  border: 1px solid black;
}

.photo__heading {
  color: @color-secondary;
  line-height: 24px;
  font-weight: bold;
}

.photo__text {
  line-height: 24px;
  text-transform: none;
}

.photo__like-text {
  color: @color-secondary;
  line-height: 24px;
  font-weight: bold;
}
