.reason {
  background-color: @color-fourth;
  border: 1px solid black;
}


.reason__about {}

.reason__title {
  color: @color-thirdy;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.reason__number {
  color: @color-thirdy;

}

.reason__text {
  color: @color-thirdy;
}

.reason__picture {}

.reason--secondary {
  background-color: @color-sixth;
}

.reason--secondary .reason__title {
  color: @color-secondary;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.reason--secondary .reason__number {
  color: @color-main;
}

.reason--secondary .reason__text {
  color: @color-main;
}
