.reason {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 38px;
  background-color: @color-fourth;

  &--secondary {
    padding-top: 29px;
    padding-bottom: 30px;
  }
}

.reason__about {
  margin: 0;
  padding: 0;
}

.reason__title {
  width: 86.9%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
  color: @color-thirdy;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.reason--secondary .reason__text {
  width: 80%;
  margin-bottom: 0;
}

.reason__number {
  color: @color-thirdy;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}

.reason__text {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;
  color: @color-thirdy;
  text-align: center;
}

.reason__picture {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  height: 260px;
  background-color: white;
}

.reason__image {
  display: block;
  width: 320px;
  margin: 0 auto;
}

.reason--secondary {
  position: relative;
  background-color: @color-sixth;
}

.reason--secondary .reason__title {
  color: @color-secondary;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.reason--secondary .reason__number {
  color: @color-main;
}

.reason--secondary .reason__text {
  color: @color-main;
}

.reason--secondary::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 20px;
  right: 20px;
  background-color: @color-seventeen;
}

.reason--secondary:last-child::after {
  display: none;
}

@media @tablet-widths {
  .reason {
    flex-direction: row;
    padding: 0;
  }

  .reason__about {
    width: 256px;
    padding-top: 42px;
  }

  .reason__title {
    width: 160px;
    font-size: 21px;
  }

  .reason__text {
    width: 170px;
  }

  .reason__picture {
    width: 512px;
    height: 256px;
    overflow: hidden;
  }

  .reason__image {
    width: 768px;
  }

  .reason__about--another-order {
    order: 1;
  }

  .reason--secondary::after {
    display: none;
  }

  .reason--secondary .reason__title {
    font-size: 21px;
  }

  .reason--secondary .reason__text {
    width: 160px;
  }
}

@media @desktop-widths {
  .reason {
    &--secondary {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .reason__about {
    width: 400px;
  }

  .reason__title {
  }

  .reason__text {
    width: 285px;
  }

  .reason__picture {
    width: 800px;
  }

  .reason__image {
    width: 1200px;
  }

  .reason--secondary .reason__text {
    width: 285px;
  }
}
