.reasons {
  display: flex;
  flex-direction: column;
  background-color: @color-sixth;
}

@media @tablet-widths {
  .reasons {
    flex-direction: row;
    min-height: 256px;
  }
}

@media @desktop-widths {
  .reasons {
    min-height: 256px;
  }
}
