body {
  font-family: @font-family-main;
  color: @color-main;
  background-color: @color-seventh;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  min-width: 320px;
}

a {
  text-decoration: none;
}
