.social-link {
  width: 46px;
  height: 48px;
  font-size: 0;
  vertical-align: top;
  margin: 0;
  padding: 0;
  background-color: @color-fourth;
  color: @color-thirdy;

  &--tw {
    background-image: url("/img/icon-twitter.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--fb {
    background-image: url("/img/icon-facebook.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--yt {
    background-image: url("/img/icon-youtube.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
